# Data Cleaning with Pandas and Numpy

In [1]:
# Dependecies
import pandas as pd
import numpy as np

In [4]:
# Loading the data
file = '../uncleaned_data/data_by_year.csv'
df = pd.read_csv(file)
df.head()

,year,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,key,mode
0,1920,0.631242,0.515750,238092.997135,0.418700,0.354219,0.216049,-12.654020,0.082984,113.226900,0.498210,0.610315,2,1
1,1921,0.862105,0.432171,257891.762821,0.241136,0.337158,0.205219,-16.811660,0.078952,102.425397,0.378276,0.391026,2,1
2,1922,0.828934,0.575620,140135.140496,0.226173,0.254776,0.256662,-20.840083,0.464368,100.033149,0.571190,0.090909,5,1
3,1923,0.957247,0.577341,177942.362162,0.262406,0.371733,0.227462,-14.129211,0.093949,114.010730,0.625492,5.205405,0,1
4,1924,0.940200,0.549894,191046.707627,0.344347,0.581701,0.235219,-14.231343,0.092089,120.689572,0.663725,0.661017,10,1

In [5]:
# Checking for columns to delete - We decided to keep them all.
df.columns

Index(['year', 'acousticness', 'danceability', 'duration_ms', 'energy',
       'instrumentalness', 'liveness', 'loudness', 'speechiness', 'tempo',
       'valence', 'popularity', 'key', 'mode'],
      dtype='object')

In [6]:
# Double checking to see if there are any NaNs
df.isna().any()

year                False
acousticness        False
danceability        False
duration_ms         False
energy              False
instrumentalness    False
liveness            False
loudness            False
speechiness         False
tempo               False
valence             False
popularity          False
key                 False
mode                False
dtype: bool

In [7]:
# Checking the data types
df.dtypes

year                  int64
acousticness        float64
danceability        float64
duration_ms         float64
energy              float64
instrumentalness    float64
liveness            float64
loudness            float64
speechiness         float64
tempo               float64
valence             float64
popularity          float64
key                   int64
mode                  int64
dtype: object

In [8]:
# Taking a look at the a sample row to ensure the data types are correct. - Looks great!
df.loc[0]

year                  1920.000000
acousticness             0.631242
danceability             0.515750
duration_ms         238092.997135
energy                   0.418700
instrumentalness         0.354219
liveness                 0.216049
loudness               -12.654020
speechiness              0.082984
tempo                  113.226900
valence                  0.498210
popularity               0.610315
key                      2.000000
mode                     1.000000
Name: 0, dtype: float64

In [9]:
# Snapshot of the object
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              102 non-null    int64
 1   acousticness      102 non-null    float64
 2   danceability      102 non-null    float64
 3   duration_ms       102 non-null    float64
 4   energy            102 non-null    float64
 5   instrumentalness  102 non-null    float64
 6   liveness          102 non-null    float64
 7   loudness          102 non-null    float64
 8   speechiness       102 non-null    float64
 9   tempo             102 non-null    float64
 10  valence           102 non-null    float64
 11  popularity        102 non-null    float64
 12  key               102 non-null    int64
 13  mode              102 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 11.3 KB

In [10]:
# Snapshot of the len of the object
len(df)

102

In [11]:
# Exporting file as a csv without index but with the header
df.to_csv("../cleaned_data/cleaned_data_by_year.csv", index=False, header=True)